streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-chroma
pysqlite3-binary
pypdf
langchain-text-splitters
transformers
sentencepiece
torch
numpy
scikit-learn
nltk
tiktoken
python-docx
docx2txt
sentence-transformers
